*{
    margin: 0;
    padding: 0;
}
header{
 display: flex;
 height: 70px;
 background-color: #004e63;
 justify-content: space-between;
 align-items: center;
padding: 10px;

}


.respmenu input:checked ~ nav {
display: block;
}

.respmenu input:checked ~ .fa-bars {
display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
display: none;
}
.logo{
 display: flex;
 align-items: center;
 text-decoration: none;
 
}
.logo img{
height: 50px;
filter: drop-shadow(2px 2px 4px black);
margin-right: 10px;
}
.logo img:hover{
transform: scale(2);
transition:2s;
}
.logo1{
   filter: drop-shadow(2px 2px 4px black);
   width: 60%;
   height: 60%;

}
a{
 font-family: 'Audiowide', cursive;
 text-decoration: none;
 text-shadow: 2px 2px 10px black;
 color: white;
 padding: 5px;
}
a:hover{
color: darkcyan;
transition: color 1s;
transform: scale(2);
}
.nombre-empresa{
 font-family: 'Audiowide', cursive;
 text-shadow: 2px 2px 10px black;
 color: aliceblue;
 
}
 .fondo1{
     width: cover;
     height:max-content;
     border: 34px black;
 }
 .portada{
    background-image: url(../multimedia/img/header\ index.png);
    background-size: cover;
    background-repeat: no-repeat;
   font-size: 150%;
   color: white;
   padding: 100px;
   font-family: 'Audiowide', cursive;
   text-shadow: 1px 1px 12px black;
     
 }
 .logoPortada{
  height: 200px;
  filter: drop-shadow(2px 2px 4px black);
 }
.lista{
 background-image: url(../multimedia/img/exagonales.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 color: white;  
 font-family: 'Audiowide', cursive;
 font-size: 35px;
 text-shadow:1px 1px 3px black;
 list-style-type: square;
 padding: 105px;
 
}
footer{
 margin: 0%;
 display: flex;
 height: 70px;
 background-color: #000000;
 justify-content: space-between;
 align-items: center;
padding: 0px;
}
.img1 img{
   width: 90%;
   filter: drop-shadow(3px 3px 6px black);
 border-style:solid ;
 border-width: 5px;
 border-radius: 40px;
 border-color: #004e63;
 margin: 33px;

&:hover{
   transform: scale(1.2);
   transition:2s;
}
}
.imgx{

 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 60px;
 }
 .p1{
     font-family: 'Audiowide', cursive;
     color: white;
     text-shadow:0px 0px 10px #000000;
     top :60%;
     margin: 25px;
     font-size: 35px;
 }
 .port-img{
     width: 100%;
 }
 .master{
     background-image: url(../multimedia/img/nosotros.png);
     background-size:cover;
     background-repeat: no-repeat;
     padding: 5px;
 }
 .master2{
    
     background-image: url(../multimedia/img/carbon3d.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
     align-items: center;
     padding: 0px;
     margin: 0px;
      }
      .p22{
        width: 600px;
         font-family: 'Audiowide', cursive;
     color: white;
     text-shadow:0px 0px 10px #000000;
     font-size: 35px;
     margin-left: 70px;
      }
      .map{
         
         margin-right: 70px;
         border-style: solid;
         border-color: #000000;
         border-radius: 80px;
        
         
      }
      .titulo3{
         background-image: url(../multimedia/img/titulocont.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         font-size: 65px;
         font-family: 'audiowide', cursive;
         color: white;
         text-shadow: 0px 0px 10px black;
         padding: 100px;
      }
      .h2cont{
         font-size: 35px;
         font-family: 'audiowide', cursive;
         color: white;
         text-shadow: 0px 0px 10px black;
         padding: 100px;
      }
      .formcont{
        background-image: url(../multimedia/img/contacto.jpg);
        background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         font-size: 25px;
         font-family: 'audiowide', cursive;
         color: white;
         text-shadow: 0px 0px 10px black;
         padding: 100px;
      }
      .galeria-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
         background-color: #000000;
         gap: 10px;
         padding: 10px;
         
        
      }
      .img-gal{
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 20px;
      }
      .gal1{
        grid-column:1/3;
         grid-row:1/3;
      }
      .gal2{
         grid-column:3/5;
         grid-row:1/1;
      }
      .gal6{
         grid-column: 5/6;
         grid-row: 2/4;
      }
      .gal10{
         grid-column: 3/5;
         grid-row: 3/4;
      }
      .gal14{
         grid-column: 4/6;
         grid-row: 4/6;
      }
      .gal16{
         grid-column: 3/4;
         grid-row: 5/7;
      }
      .gal17{
         grid-column: 1/3;
         grid-row: 6/7;
      }
      .gal18{
         grid-column: 4/6;
         grid-row:6/7;
      }
      .carousel-inner{
         margin: 25px 20px 0px 0px;
      }
     
      @media(max-width:576px){
      
      
         .hidemenu{
            display:contents ;
         }
         .logoh{
            display:none;

         }
         .portada{
              background-size: cover;
               background-repeat: no-repeat;
               display: flex;
               align-items: center;
              flex-direction: column;
               justify-content: center;
              
              font-size: 200%;
              color: white;
              padding: 0px;
              font-family: 'Audiowide', cursive;
              text-shadow: 1px 1px 12px black;font-size:10pt;
              }
         .imgx{
            width:200%;
            display: flex;
          justify-content: center;
            flex-direction: column-reverse;
            filter: drop-shadow(3px 3px 6px black);
          align-items: center;
          ;
          margin: 0px;
      }
   }
   