@import "reset";
@import "HeaderFooter";
@import "galeria";
@import "variables";






.respmenu input:checked ~ nav {
display: block;
}

.respmenu input:checked ~ .fa-bars {
display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
display: none;
}
.logo{
 display: flex;
 align-items: center;
 text-decoration: none;
 
}
.logo img{
height: 50px;
filter: $shadowclassic;
margin-right: 10px;
&:hover{
   transform: scale(2);
   transition:2s;
   }
}
.logo1{
   filter: $shadowclassic;
   width: 60%;
   height: 60%;
}
a{
 font-family: $fnt;
 text-decoration: none;
 text-shadow: $txtShdw;
 color: white;
 padding: 5px;
&:hover{
   color: darkcyan;
   transition: color 1s;
   transform: scale(2);
   }
}
.nombre-empresa{
 font-family: $fnt;
 text-shadow: $txtShdw;
 color: aliceblue;
 
}
 .fondo1{
     width: cover;
     height:max-content;
     border: 34px black;
 }
 .portada{
    background-image: url(../multimedia/img/header\ index.png);
    background-size: cover;
    background-repeat: no-repeat;
   font-size: 150%;
   color: white;
   padding: 100px;
   font-family: $fnt;
   text-shadow: $txtShdw;
     
 }
 .logoPortada{
  height: 200px;
  filter: $shadowclassic;
 }
.lista{
 background-image: url(../multimedia/img/exagonales.jpg);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 color: white;  
 font-family: 'Audiowide', cursive;
 font-size: 35px;
 text-shadow: $txtShdw;
 list-style-type: square;
 padding: 105px;
 
}

.img1 img{
   width: 90%;
   filter: $shadowclassic;
 border-style:solid ;
 border-width: 5px;
 border-radius: 40px;
 border-color: #004e63;
 margin: 33px;

&:hover{
   transform: scale(1.2);
   transition:2s;
}
}
.imgx{

 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-top: 60px;
 }
 .p1{
     font-family: $fnt;
     color: white;
     text-shadow: $txtShdw;
     top :60%;
     margin: 25px;
     font-size: 35px;
 }
 .port-img{
     width: 100%;
 }
 .master{
     background-image: url(../multimedia/img/nosotros.png);
     background-size:cover;
     background-repeat: no-repeat;
     padding: 5px;
 }
 .master2{
    
     background-image: url(../multimedia/img/carbon3d.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
     align-items: center;
     padding: 0px;
     margin: 0px;
      }
      .p22{
        width: 600px;
         font-family: $fnt;
     color: white;
     text-shadow: $txtShdw;
     font-size: 35px;
     margin-left: 70px;
      }
      .map{
         
         margin-right: 70px;
         border-style: solid;
         border-color: #000000;
         border-radius: 80px;
        
         
      }
      .titulo3{
         background-image: url(../multimedia/img/titulocont.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         font-size: 65px;
         font-family: $fnt;
         color: white;
         text-shadow: $txtShdw;
         padding: 100px;
      }
      .h2cont{
         font-size: 35px;
         font-family: $fnt;
         color: white;
         text-shadow: $txtShdw;
         padding: 100px;
      }
      .formcont{
        background-image: url(../multimedia/img/contacto.jpg);
        background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         font-size: 25px;
         font-family: $fnt;
         color: white;
         text-shadow: $txtShdw;
         padding: 100px;
      }
      @media(max-width:576px){
         .hidemenu{
            display:contents ;
         }
         .logoh{
            display:none;

         }
         .portada{
              background-size: cover;
               background-repeat: no-repeat;
               display: flex;
               align-items: center;
              flex-direction: column;
               justify-content: center;
              
              font-size: 200%;
              color: white;
              padding: 0px;
              font-family: $fnt;
              text-shadow: $txtShdw;
              font-size:10pt;
              }
         .imgx{
            width:500%;
            display:contents;
          justify-content:end;
            flex-direction: column;
            filter: $shadowclassic;
          align-items: center;
          margin: 0px;
      }
      .p1{
         font-size: 25px;

      }
      .p2{
         font-size: 25px;
      }
   }
   waldo
   